<link rel="stylesheet" href="/home.css">

<h1>CMS Style Blog</h1>

<form id="newSignup">
    <div class="columns">
    <!--HOME DIV 1-->
    <div id="home" class="column is-half">
        <!--CREATE ACCOUNT DIV--> 
        <div id="signup">Create Account!</div>
            <!--INPUT DIV-->
            <div class="field">
                <label class="label">Username</label>
                <div class="control">
                    <input id='newUser'class="input" type="text" placeholder="create username">
                </div>
            </div>
            <!--INPUT DIV-->
            <div class="field">
            <label class="label">Password</label>
                <div class="control">
                    <input id='newPW'class="input" type="password" placeholder="create password">
                </div>
            </div>
                <!--BUTTON DIV-->
            <div id ='button'class="control">
                <button id='newSignupButton'class="button is-primary">Submit</button>
            </div>
    </div>
    <!--HOME DIV 2-->
    <div id="home" class="column ">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
    </div>
</form>

<script src="/js/signup.js"></script>



<!--this the page the opens when you first go to the site to either login or sign up-->